.main-banner {
  width: 100%;
  height: 300px;
  background-image: url("../img/main-banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-banner .opacity-layer {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
}
.main-banner .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-banner .main-title h3 {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  align-items: center;
}
.main-banner .main-title p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-top: 9px;
  align-items: center;
}

.location-graph {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E7E7E7;
}
.location-graph p {
  width: 1200px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 300;
  color: #CECECE;
}

.bg {
  width: 100%;
  background-color: #F3F2EE;
  padding-top: 100px;
}
.bg .article-contents {
  width: 1200px;
  margin: 0 auto;
}
.bg .article-contents h3 {
  font-size: 30px;
  font-weight: 700;
  color: #161410;
  text-align: center;
  padding-top: 112px;
}
.bg .article-contents .search-wrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 56px;
}
.bg .article-contents .search-wrap select {
  width: 80px;
  height: 40px;
  border: 2px solid #E7E7E7;
  font-size: 13px;
  font-weight: 400;
  color: #DBDBDB;
  margin-right: 20px;
}
.bg .article-contents .search-wrap option {
  width: 300px;
  height: 40px;
  border: 2px solid #E7E7E7;
  font-size: 13px;
  font-weight: 400;
  color: #DBDBDB;
}
.bg .article-contents .search-wrap input {
  border: 2px solid #E7E7E7;
  box-sizing: border-box;
  padding: 10px;
}
.bg .article-contents .news-content {
  width: 1200px;
  padding-bottom: 120px;
  display: flex;
}
.bg .article-contents .news-content .news-title {
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg .article-contents .news-content .news-title h4 {
  font-size: 72px;
  font-weight: 400;
  color: #326CF9;
}
.bg .article-contents .news-content .news-title p:nth-child(2) {
  font-size: 32px;
  font-weight: 400;
  color: #353535;
  line-height: 40px;
  margin-top: 18px;
}
.bg .article-contents .news-content .news-title p:nth-child(2) .bold {
  font-weight: 700;
}
.bg .article-contents .news-content .news-title p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #CFCFCF;
  padding-right: 60px;
  margin-top: 14px;
  line-height: 16px;
}
.bg .article-contents .news-content .news-title button {
  width: 220px;
  height: 50px;
  background-color: #326CF9;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 22px;
}
.bg .article-contents .news-content .news-main {
  width: 800px;
}
.bg .article-contents .news-content .news-main ul {
  display: flex;
  flex-wrap: wrap;
}
.bg .article-contents .news-content .news-main ul li {
  width: 350px;
  height: 300px;
  background-color: #FFF;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
}
.bg .article-contents .news-content .news-main ul li:nth-child(2n) {
  margin-left: 20px;
}
.bg .article-contents .news-content .news-main ul li h4 {
  font-size: 20px;
  font-weight: 700;
  color: #3A3A3A;
  line-height: 28px;
}
.bg .article-contents .news-content .news-main ul li p {
  font-size: 12px;
  font-weight: 400;
  color: #9E9E9E;
  line-height: 18px;
  margin-top: 10px;
}
.bg .article-contents .news-content .news-main ul li span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #BBBBBB;
  margin-top: 14px;
}/*# sourceMappingURL=card.css.map */