@import "./function.scss";

header{
    @include setSize(1200px, 92px);
    margin:0 auto;
    @include flex(flex, null, center);
    border-bottom:2px solid #E7E7E7;
    .logo{
        width:120px;
        svg{
            width:100%;
        }
    }
    nav{
        @include setSize(100%, 92px);
        @include flex(flex, space-between, center);
        margin-left:22px;
        ul{
            @include flex(flex, null, center);
            li{
                margin-left:28px;
                @include font(16px, 400, #838383);
            }
        }
        .nav-right{
            margin-right: 28px;
        }
    }
}

footer{
    @include setSize(100%, 340px);
    @include flex(flex, null, center);
    border-top:2px solid #DDDDDD;
    .footer-wrap{
        @include block-center(1200px);
        @include font(12px, 400, #999C9F);
        ul{
            @include flex(flex, null, center);
            li{
                @include font(14px, 400, #585A58);
                margin-left:32px;
                &:first-child{
                    margin-left:0px;
                }
            }
        }
        .call{
            @include flex(flex, null, center);
            margin-top:36px;
            .phone-num{
                @include font(24px, 600, #999999);
                margin-left:12px;
            }
            p{
                margin-left:14px;
            }
        }
        .address-text{
            margin-top:6px;

        }
        .copyright-text{
            margin-top:32px;
        }
        .copyright-logo{
            margin-top:16px;
        }
    }
}